.gridContainer {
    aspect-ratio: 1 / 1;
    width: 500px;
    border: solid black;
    display: flex;
    flex-direction: column;
}

.pixelDivRow {
    border: solid 1px red;
    display: flex;
    flex: 1;
}

.pixelDivColumn {
    border: solid 1px blue;
    flex: 1;
}

.coloredPixel {
    background-color: black;
}